@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body {
    font-family: "Playfair Display", serif;
}

.videoplay {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.website {
    background-color: black;
    color: white;
    overflow: hidden;
    /* background-image: url(./Assets/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment : fixed;
    animation: web-move linear;
    animation-timeline: scroll(); */
}

/* @keyframes web-move {
    0% {
        background-image: url(url(c:/Users/arjun/OneDrive/Pictures/bg (1).png));
    }

    1% {
        background-image: url(url(c:/Users/arjun/OneDrive/Pictures/bg (1).png));
    }

    0.2% {
        background-image: url(./Assets/bg\ \(2\).png);
    }

    0.3% {
        background-image: url(./Assets/bg\ \(3\).png);
    }

    0.4% {
        background-image: url(./Assets/bg\ \(4\).png);
    }

    0.5% {
        background-image: url(./Assets/bg\ \(5\).png);
    }

    0.6% {
        background-image: url(./Assets/bg\ \(6\).png);
    }

    0.7% {
        background-image: url(./Assets/bg\ \(7\).png);
    }

    0.8% {
        background-image: url(./Assets//bg\ \(8\).png);
    }

    0.9% {
        background-image: url(./Assets//bg\ \(9\).png);
    }

    1% {
        background-image: url(./Assets//bg\ \(10\).png);
    }

    1.1% {
        background-image: url(./Assets//bg\ \(11\).png);
    }
    1.2% {
        background-image: url(./Assets//bg\ \(12\).png);
    }
    1.3% {
        background-image: url(./Assets//bg\ \(13\).png);
    }
    1.4% {
        background-image: url(./Assets//bg\ \(14\).png);
    }
    1.5% {
        background-image: url(./Assets//bg\ \(15\).png);
    }
    1.6% {
        background-image: url(./Assets//bg\ \(16\).png);
    }
    1.7% {
        background-image: url(./Assets//bg\ \(17\).png);
    }
    1.8% {
        background-image: url(./Assets//bg\ \(18\).png);
    }
    1.9% {
        background-image: url(./Assets//bg\ \(19\).png);
    }
    2.0% {
        background-image: url(./Assets//bg\ \(20\).png);
    }
    2.1% {
        background-image: url(./Assets//bg\ \(21\).png);
    }
    2.2% {
        background-image: url(./Assets//bg\ \(22\).png);
    }
    2.3% {
        background-image: url(./Assets//bg\ \(23\).png);
    }
    2.4% {
        background-image: url(./Assets//bg\ \(24\).png);
    }
    2.5% {
        background-image: url(./Assets//bg\ \(25\).png);
    }
    2.6% {
        background-image: url(./Assets//bg\ \(26\).png);
    }
    2.7% {
        background-image: url(./Assets//bg\ \(27\).png);
    }
    2.8% {
        background-image: url(./Assets//bg\ \(28\).png);
    }
    2.9% {
        background-image: url(./Assets//bg\ \(29\).png);
    }
    3.0% {
        background-image: url(./Assets//bg\ \(30\).png);
    }
    3.1% {
        background-image: url(./Assets//bg\ \(31\).png);
    }
    3.2% {
        background-image: url(./Assets//bg\ \(32\).png);
    }
    3.3% {
        background-image: url(./Assets//bg\ \(33\).png);
    }
    3.4% {
        background-image: url(./Assets//bg\ \(34\).png);
    }
    3.5% {
        background-image: url(./Assets//bg\ \(35\).png);
    }
    3.6% {
        background-image: url(./Assets//bg\ \(36\).png);
    }
    3.7% {
        background-image: url(./Assets//bg\ \(37\).png);
    }
    3.8% {
        background-image: url(./Assets//bg\ \(38\).png);
    }
    3.9% {
        background-image: url(./Assets//bg\ \(39\).png);
    }
    4.0% {
        background-image: url(./Assets//bg\ \(40\).png);
    }
    4.1% {
        background-image: url(./Assets//bg\ \(41\).png);
    }
    4.2% {
        background-image: url(./Assets//bg\ \(42\).png);
    }
    4.3% {
        background-image: url(./Assets//bg\ \(43\).png);
    }
    4.4% {
        background-image: url(./Assets//bg\ \(44\).png);
    }
    4.5% {
        background-image: url(./Assets//bg\ \(45\).png);
    }
    4.6% {
        background-image: url(./Assets//bg\ \(46\).png);
    }
    4.7% {
        background-image: url(./Assets//bg\ \(47\).png);
    }
    4.8% {
        background-image: url(./Assets//bg\ \(48\).png);
    }
    4.9% {
        background-image: url(./Assets//bg\ \(49\).png);
    }
    5.0% {
        background-image: url(./Assets//bg\ \(50\).png);
    }
    5.1% {
        background-image: url(./Assets//bg\ \(51\).png);
    }
    5.2% {
        background-image: url(./Assets//bg\ \(52\).png);
    }
    5.3% {
        background-image: url(./Assets//bg\ \(53\).png);
    }
    5.4% {
        background-image: url(./Assets//bg\ \(54\).png);
    }
    5.5% {
        background-image: url(./Assets//bg\ \(55\).png);
    }
    5.6% {
        background-image: url(./Assets//bg\ \(56\).png);
    }
    5.7% {
        background-image: url(./Assets//bg\ \(57\).png);
    }
    5.8% {
        background-image: url(./Assets//bg\ \(58\).png);
    }
    5.9% {
        background-image: url(./Assets//bg\ \(59\).png);
    }
    6.0% {
        background-image: url(./Assets//bg\ \(60\).png);
    }
    6.1% {
        background-image: url(./Assets//bg\ \(61\).png);
    }
    6.2% {
        background-image: url(./Assets//bg\ \(62\).png);
    }
    6.3% {
        background-image: url(./Assets//bg\ \(63\).png);
    }
    6.4% {
        background-image: url(./Assets//bg\ \(64\).png);
    }
    6.5% {
        background-image: url(./Assets//bg\ \(65\).png);
    }
    6.6% {
        background-image: url(./Assets//bg\ \(66\).png);
    }
    6.7% {
        background-image: url(./Assets//bg\ \(67\).png);
    }
    6.8% {
        background-image: url(./Assets//bg\ \(68\).png);
    }
    6.9% {
        background-image: url(./Assets//bg\ \(69\).png);
    }
    7.0% {
        background-image: url(./Assets//bg\ \(70\).png);
    }
    7.1% {
        background-image: url(./Assets//bg\ \(71\).png);
    }
    7.2% {
        background-image: url(./Assets//bg\ \(72\).png);
    }
    7.3% {
        background-image: url(./Assets//bg\ \(73\).png);
    }
    7.4% {
        background-image: url(./Assets//bg\ \(74\).png);
    }
    7.5% {
        background-image: url(./Assets//bg\ \(75\).png);
    }
    7.6% {
        background-image: url(./Assets//bg\ \(76\).png);
    }
    7.7% {
        background-image: url(./Assets//bg\ \(77\).png);
    }
    7.8% {
        background-image: url(./Assets//bg\ \(78\).png);
    }
    7.9% {
        background-image: url(./Assets//bg\ \(79\).png);
    }
    8.0% {
        background-image: url(./Assets//bg\ \(80\).png);
    }
    8.1% {
        background-image: url(./Assets//bg\ \(81\).png);
    }
    8.2% {
        background-image: url(./Assets//bg\ \(82\).png);
    }
    8.3% {
        background-image: url(./Assets//bg\ \(83\).png);
    }
    8.4% {
        background-image: url(./Assets//bg\ \(84\).png);
    }
    8.5% {
        background-image: url(./Assets//bg\ \(85\).png);
    }
    8.6% {
        background-image: url(./Assets//bg\ \(86\).png);
    }
    8.7% {
        background-image: url(./Assets//bg\ \(87\).png);
    }
    8.8% {
        background-image: url(./Assets//bg\ \(88\).png);
    }
    8.9% {
        background-image: url(./Assets//bg\ \(89\).png);
    }
    9.0% {
        background-image: url(./Assets//bg\ \(90\).png);
    }
    9.1% {
        background-image: url(./Assets//bg\ \(91\).png);
    }
    9.2% {
        background-image: url(./Assets//bg\ \(92\).png);
    }
    9.3% {
        background-image: url(./Assets//bg\ \(93\).png);
    }
    9.4% {
        background-image: url(./Assets//bg\ \(94\).png);
    }
    9.5% {
        background-image: url(./Assets//bg\ \(95\).png);
    }
    9.6% {
        background-image: url(./Assets//bg\ \(96\).png);
    }
    9.7% {
        background-image: url(./Assets//bg\ \(97\).png);
    }
    9.8% {
        background-image: url(./Assets//bg\ \(98\).png);
    }
    9.9% {
        background-image: url(./Assets//bg\ \(99\).png);
    }
    10.0% {
        background-image: url(./Assets//bg\ \(100\).png);
    }

    10.1% {
        background-image: url(./Assets/bg\ \(101\).png);
    }

    10.2% {
        background-image: url(./Assets/bg\ \(102\).png);
    }

    10.3% {
        background-image: url(./Assets/bg\ \(103\).png);
    }

    10.4% {
        background-image: url(./Assets/bg\ \(104\).png);
    }

    10.5% {
        background-image: url(./Assets/bg\ \(105\).png);
    }

    10.6% {
        background-image: url(./Assets/bg\ \(106\).png);
    }

    10.7% {
        background-image: url(./Assets/bg\ \(107\).png);
    }

    10.8% {
        background-image: url(./Assets//bg\ \(108\).png);
    }

    10.9% {
        background-image: url(./Assets//bg\ \(109\).png);
    }

    11% {
        background-image: url(./Assets//bg\ \(110\).png);
    }

    11.1% {
        background-image: url(./Assets//bg\ \(111\).png);
    }
    11.2% {
        background-image: url(./Assets//bg\ \(112\).png);
    }
    11.3% {
        background-image: url(./Assets//bg\ \(113\).png);
    }
    11.4% {
        background-image: url(./Assets//bg\ \(114\).png);
    }
    11.5% {
        background-image: url(./Assets//bg\ \(115\).png);
    }
    11.6% {
        background-image: url(./Assets//bg\ \(116\).png);
    }
    11.7% {
        background-image: url(./Assets//bg\ \(117\).png);
    }
    11.8% {
        background-image: url(./Assets//bg\ \(118\).png);
    }
    11.9% {
        background-image: url(./Assets//bg\ \(119\).png);
    }
    12.0% {
        background-image: url(./Assets//bg\ \(120\).png);
    }
    12.1% {
        background-image: url(./Assets//bg\ \(121\).png);
    }
    12.2% {
        background-image: url(./Assets//bg\ \(122\).png);
    }
    12.3% {
        background-image: url(./Assets//bg\ \(123\).png);
    }
    12.4% {
        background-image: url(./Assets//bg\ \(124\).png);
    }
    12.5% {
        background-image: url(./Assets//bg\ \(125\).png);
    }
    12.6% {
        background-image: url(./Assets//bg\ \(126\).png);
    }
    12.7% {
        background-image: url(./Assets//bg\ \(127\).png);
    }
    12.8% {
        background-image: url(./Assets//bg\ \(128\).png);
    }
    12.9% {
        background-image: url(./Assets//bg\ \(129\).png);
    }
    13.0% {
        background-image: url(./Assets//bg\ \(130\).png);
    }
    13.1% {
        background-image: url(./Assets//bg\ \(131\).png);
    }
    13.2% {
        background-image: url(./Assets//bg\ \(132\).png);
    }
    13.3% {
        background-image: url(./Assets//bg\ \(133\).png);
    }
    13.4% {
        background-image: url(./Assets//bg\ \(134\).png);
    }
    13.5% {
        background-image: url(./Assets//bg\ \(135\).png);
    }
    13.6% {
        background-image: url(./Assets//bg\ \(136\).png);
    }
    13.7% {
        background-image: url(./Assets//bg\ \(137\).png);
    }
    13.8% {
        background-image: url(./Assets//bg\ \(138\).png);
    }
    13.9% {
        background-image: url(./Assets//bg\ \(139\).png);
    }
    14.0% {
        background-image: url(./Assets//bg\ \(140\).png);
    }
    14.1% {
        background-image: url(./Assets//bg\ \(141\).png);
    }
    14.2% {
        background-image: url(./Assets//bg\ \(142\).png);
    }
    14.3% {
        background-image: url(./Assets//bg\ \(143\).png);
    }
    14.4% {
        background-image: url(./Assets//bg\ \(144\).png);
    }
    14.5% {
        background-image: url(./Assets//bg\ \(145\).png);
    }
    14.6% {
        background-image: url(./Assets//bg\ \(146\).png);
    }
    14.7% {
        background-image: url(./Assets//bg\ \(147\).png);
    }
    14.8% {
        background-image: url(./Assets//bg\ \(148\).png);
    }
    14.9% {
        background-image: url(./Assets//bg\ \(149\).png);
    }
    15.0% {
        background-image: url(./Assets//bg\ \(150\).png);
    }
    15.1% {
        background-image: url(./Assets//bg\ \(151\).png);
    }
    15.2% {
        background-image: url(./Assets//bg\ \(152\).png);
    }
    15.3% {
        background-image: url(./Assets//bg\ \(153\).png);
    }
    15.4% {
        background-image: url(./Assets//bg\ \(154\).png);
    }
    15.5% {
        background-image: url(./Assets//bg\ \(155\).png);
    }
    15.6% {
        background-image: url(./Assets//bg\ \(156\).png);
    }
    15.7% {
        background-image: url(./Assets//bg\ \(157\).png);
    }
    15.8% {
        background-image: url(./Assets//bg\ \(158\).png);
    }
    15.9% {
        background-image: url(./Assets//bg\ \(159\).png);
    }
    16.0% {
        background-image: url(./Assets//bg\ \(160\).png);
    }
    16.1% {
        background-image: url(./Assets//bg\ \(161\).png);
    }
    16.2% {
        background-image: url(./Assets//bg\ \(162\).png);
    }
    16.3% {
        background-image: url(./Assets//bg\ \(163\).png);
    }
    16.4% {
        background-image: url(./Assets//bg\ \(164\).png);
    }
    16.5% {
        background-image: url(./Assets//bg\ \(165\).png);
    }
    16.6% {
        background-image: url(./Assets//bg\ \(166\).png);
    }
    16.7% {
        background-image: url(./Assets//bg\ \(167\).png);
    }
    16.8% {
        background-image: url(./Assets//bg\ \(168\).png);
    }
    16.9% {
        background-image: url(./Assets//bg\ \(169\).png);
    }
    17.0% {
        background-image: url(./Assets//bg\ \(170\).png);
    }
    17.1% {
        background-image: url(./Assets//bg\ \(171\).png);
    }
    17.2% {
        background-image: url(./Assets//bg\ \(172\).png);
    }
    17.3% {
        background-image: url(./Assets//bg\ \(173\).png);
    }
    17.4% {
        background-image: url(./Assets//bg\ \(174\).png);
    }
    17.5% {
        background-image: url(./Assets//bg\ \(175\).png);
    }
    17.6% {
        background-image: url(./Assets//bg\ \(176\).png);
    }
    17.7% {
        background-image: url(./Assets//bg\ \(177\).png);
    }
    17.8% {
        background-image: url(./Assets//bg\ \(178\).png);
    }
    17.9% {
        background-image: url(./Assets//bg\ \(179\).png);
    }
    18.0% {
        background-image: url(./Assets//bg\ \(180\).png);
    }
    18.1% {
        background-image: url(./Assets//bg\ \(181\).png);
    }
    18.2% {
        background-image: url(./Assets//bg\ \(182\).png);
    }
    18.3% {
        background-image: url(./Assets//bg\ \(183\).png);
    }
    18.4% {
        background-image: url(./Assets//bg\ \(184\).png);
    }
    18.5% {
        background-image: url(./Assets//bg\ \(185\).png);
    }
    18.6% {
        background-image: url(./Assets//bg\ \(186\).png);
    }
    18.7% {
        background-image: url(./Assets//bg\ \(187\).png);
    }
    18.8% {
        background-image: url(./Assets//bg\ \(188\).png);
    }
    18.9% {
        background-image: url(./Assets//bg\ \(189\).png);
    }
    19.0% {
        background-image: url(./Assets//bg\ \(190\).png);
    }
    19.1% {
        background-image: url(./Assets//bg\ \(191\).png);
    }
    19.2% {
        background-image: url(./Assets//bg\ \(192\).png);
    }
    19.3% {
        background-image: url(./Assets//bg\ \(193\).png);
    }
    19.4% {
        background-image: url(./Assets//bg\ \(194\).png);
    }
    19.5% {
        background-image: url(./Assets//bg\ \(195\).png);
    }
    19.6% {
        background-image: url(./Assets//bg\ \(196\).png);
    }
    19.7% {
        background-image: url(./Assets//bg\ \(197\).png);
    }
    19.8% {
        background-image: url(./Assets//bg\ \(198\).png);
    }
    19.9% {
        background-image: url(./Assets//bg\ \(199\).png);
    }
    20.0% {
        background-image: url(./Assets//bg\ \(200\).png);
    }

} */

/* Navbar */

.mynavbar {
    position: fixed;
    width: 95%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    top: 20px;
    left: 40px;
    z-index: 999;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
}

.mynavbar div {
    gap: 20px;
}

.mynavbar div:first-child img {
    width: 70px;
    height: 70px;
}

.mynavbar div:last-child {
    width: 35%;
    padding: 0 20px 0 0;
}

.mynavbar div:last-child a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    transition: all 1s;
}

.mynavbar>div a:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(192, 192, 192);
    color: transparent;
    background-image:  linear-gradient( rgb(255, 0, 0), white);
    background-clip: text;
}

/* Home-Page */

.Home-page {
    overflow: hidden;
}

.Home-page .home-content a{
    text-decoration: none;
    color: white;
}

.Home-page .home-content a>div h1 {
    text-align: center;
    font-size: 60px;
    font-style: italic;
    letter-spacing: 10px;
    background-image: linear-gradient(30deg, white, rgb(255, 0, 0));
    background-clip: text;
    color: transparent;
    transition: all 1s;
    z-index: 998;
}

.Home-page .home-content a>div div {
    position: absolute;
    top: 170px;
    left: 710px;
    width: 600px;
    height: 150px;
    background-color: rgba(137, 137, 137, 0.1);
    /* transition: all 2s; */
    animation: boxing infinite linear;
    animation-duration: 5s;
}

@keyframes boxing {
    0% {
        clip-path: path("M 60 10 L 540,20 L 540,30 L 360,50 L 301,80 L 301,100 L 350,100 L 350,120 L 250,120 L 250,100 L 299,100 L 299,80 L 220,50 L 60,10 z");
    }

    25% {
        clip-path: path("M 20 0 L 560,0 L 560,60 L 301,60 L 301,80 L 301,80 L 400,80 L 400,150 L 180,150 L 180,80 L 299,80 L 299,80 L 299,60 L 20,60 z");
    }

    50% {
        clip-path: path("M 30 0 L 560,0 L 560,60 L 301,60 L 301,80 L 301,80 L 400,80 L 400,150 L 180,150 L 180,80 L 299,80 L 299,80 L 299,60 L 30,60 z");
    }

    75% {
        clip-path: path("M 60 10 L 560,20 L 5650,30 L 360,50 L 301,80 L 301,100 L 350,100 L 350,120 L 250,120 L 250,100 L 299,100 L 299,80 L 220,50 L 60,10 z");
    }

    100% {
        clip-path: path("M 60 10 L 540,20 L 540,30 L 360,50 L 301,80 L 301,100 L 350,100 L 350,120 L 250,120 L 250,100 L 299,100 L 299,80 L 220,50 L 60,10 z");
    }
}

/* .Home-page .home-content a>div div:hover{
    
} */

.Home-page .home-content {
    width: 700px;
}

.Home-page .home-content a>div {  
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 50px;
    gap: 50px;
    box-shadow: 0 0 10px 2px rgb(103, 102, 102);
    /* transition: all 2s; */
    animation: wobble infinite linear both;
    animation-duration: 10s;
}

@keyframes wobble {
    0% {
        clip-path: path("M 0 20 A 5,3 0,0,1 100,20 A 5,3 0,0,0 200,20 A 5,3 0,0,1 300,20 A 5,3 0,0,0 400,20 A 5,3 0,0,1 500,20 A 5,3 0,0,0 600,20 A 5,3 0,0,1 700,20 L 700,150 A 4,5 0,0,0 700,250 L 700,350 A 4,5 0,0,0 700,450 L 700,550 A 4,5 0,0,0 700,650 L 700,750 A 4,5 0,0,0 700,850 L 700,950 A 4,5 0,0,0 700,1050 L 700,1150 A 5,4 0,0,1 600,1150 A 5,4 0,0,0 500,1150 A 5,4 0,0,1 400,1150 A 5,4 0,0,0 300,1150 A 5,4 0,0,1 200,1150 A 5,4 0,0,0 100,1150 A 5,4 0,0,1 0,1150 L 0,1050 A 4,5 0,0,0 0,950 L 0,850 A 4,5 0,0,0 0,750 L 0,650 A 4,5 0,0,0 0,550 L 0,450 A 4,5 0,0,0 0,350 L 0,250 A 4,5 0,0,0 0,150 z");
    }

    20% {
        clip-path: path("M 0 20 A 5,3 0,0,1 100,20 A 5,3 0,0,0 200,20 A 5,3 0,0,1 300,20 A 5,3 0,0,0 400,20 A 5,3 0,0,1 500,20 A 5,3 0,0,0 600,20 A 5,3 0,0,1 700,20 L 700,150 A 4,5 0,0,0 700,250 L 700,350 A 4,5 0,0,0 700,450 L 700,550 A 4,5 0,0,0 700,650 L 700,750 A 4,5 0,0,0 700,850 L 700,950 A 4,5 0,0,0 700,1050 L 700,1150 A 5,4 0,0,1 600,1150 A 5,4 0,0,0 500,1150 A 5,4 0,0,1 400,1150 A 5,4 0,0,0 300,1150 A 5,4 0,0,1 200,1150 A 5,4 0,0,0 100,1150 A 5,4 0,0,1 0,1150 L 0,1050 A 4,5 0,0,0 0,950 L 0,850 A 4,5 0,0,0 0,750 L 0,650 A 4,5 0,0,0 0,550 L 0,450 A 4,5 0,0,0 0,350 L 0,250 A 4,5 0,0,0 0,150 z");
    }

    40% {
        clip-path: path("M 0 20 A 5,1 0,0,1 100,20 A 5,1 0,0,0 200,20 A 5,1 0,0,1 300,20 A 5,1 0,0,0 400,20 A 5,1 0,0,1 500,20 A 5,1 0,0,0 600,20 A 5,1 0,0,1 700,20 L 700,150 A 2,5 0,0,0 700,250 L 700,350 A 2,5 0,0,0 700,450 L 700,550 A 2,5 0,0,0 700,650 L 700,750 A 2,5 0,0,0 700,850 L 700,950 A 2,5 0,0,0 700,1050 L 700,1150 A 5,2 0,0,1 600,1150 A 5,2 0,0,0 500,1150 A 5,2 0,0,1 400,1150 A 5,2 0,0,0 300,1150 A 5,2 0,0,1 200,1150 A 5,2 0,0,0 100,1150 A 5,2 0,0,1 0,1150 L 0,1050 A 2,5 0,0,0 0,950 L 0,850 A 2,5 0,0,0 0,750 L 0,650 A 2,5 0,0,0 0,550 L 0,450 A 2,5 0,0,0 0,350 L 0,250 A 2,5 0,0,0 0,150 z");
    }

    50% {
        clip-path: path("M 0 20 A 5,0 0,0,1 100,20 A 5,0 0,0,0 200,20 A 5,0 0,0,1 300,20 A 5,0 0,0,0 400,20 A 5,0 0,0,1 500,20 A 5,0 0,0,0 600,20 A 5,0 0,0,1 700,20 L 700,150 A 0,5 0,0,0 700,250 L 700,350 A 0,5 0,0,0 700,450 L 700,550 A 0,5 0,0,0 700,650 L 700,750 A 0,5 0,0,0 700,850 L 700,950 A 0,5 0,0,0 700,1050 L 700,1150 A 5,0 0,0,1 600,1150 A 5,0 0,0,0 500,1150 A 5,0 0,0,1 400,1150 A 5,0 0,0,0 300,1150 A 5,0 0,0,1 200,1150 A 5,0 0,0,0 100,1150 A 5,0 0,0,1 0,1150 L 0,1050 A 0,5 0,0,0 0,950 L 0,850 A 0,5 0,0,0 0,750 L 0,650 A 0,5 0,0,0 0,550 L 0,450 A 0,5 0,0,0 0,350 L 0,250 A 0,5 0,0,0 0,150 z");
    }

    75% {
        clip-path: path("M 0 20 A 5,1 0,0,1 100,20 A 5,1 0,0,0 200,20 A 5,1 0,0,1 300,20 A 5,1 0,0,0 400,20 A 5,1 0,0,1 500,20 A 5,1 0,0,0 600,20 A 5,1 0,0,1 700,20 L 700,150 A 2,5 0,0,0 700,250 L 700,350 A 2,5 0,0,0 700,450 L 700,550 A 2,5 0,0,0 700,650 L 700,750 A 2,5 0,0,0 700,850 L 700,950 A 2,5 0,0,0 700,1050 L 700,1150 A 5,2 0,0,1 600,1150 A 5,2 0,0,0 500,1150 A 5,2 0,0,1 400,1150 A 5,2 0,0,0 300,1150 A 5,2 0,0,1 200,1150 A 5,2 0,0,0 100,1150 A 5,2 0,0,1 0,1150 L 0,1050 A 2,5 0,0,0 0,950 L 0,850 A 2,5 0,0,0 0,750 L 0,650 A 2,5 0,0,0 0,550 L 0,450 A 2,5 0,0,0 0,350 L 0,250 A 2,5 0,0,0 0,150 z");
    }

    100% {
        clip-path: path("M 0 20 A 5,3 0,0,1 100,20 A 5,3 0,0,0 200,20 A 5,3 0,0,1 300,20 A 5,3 0,0,0 400,20 A 5,3 0,0,1 500,20 A 5,3 0,0,0 600,20 A 5,3 0,0,1 700,20 L 700,150 A 4,5 0,0,0 700,250 L 700,350 A 4,5 0,0,0 700,450 L 700,550 A 4,5 0,0,0 700,650 L 700,750 A 4,5 0,0,0 700,850 L 700,950 A 4,5 0,0,0 700,1050 L 700,1150 A 5,4 0,0,1 600,1150 A 5,4 0,0,0 500,1150 A 5,4 0,0,1 400,1150 A 5,4 0,0,0 300,1150 A 5,4 0,0,1 200,1150 A 5,4 0,0,0 100,1150 A 5,4 0,0,1 0,1150 L 0,1050 A 4,5 0,0,0 0,950 L 0,850 A 4,5 0,0,0 0,750 L 0,650 A 4,5 0,0,0 0,550 L 0,450 A 4,5 0,0,0 0,350 L 0,250 A 4,5 0,0,0 0,150 z");
    }
}


.Home-page .home-content div:hover h1 {
    text-shadow: 0 1px rgb(0, 0, 0), 0 -1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), -1px 0 rgb(255, 255, 255);
}

.Home-page .home-content p {
    letter-spacing: 3px;
    word-spacing: 5px;
    line-height: 25px;
    font-size: 20px;
    text-align: center;
}

.Home-page .home-content p span {
    font-size: 30px;
}

.Home-page .home-content img {
    width: 600px;
    height: 400px;
    border-radius: 30px;
    opacity: 0.7;
}

.Home-image>div {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-image>div>div {
    background-color: rgb(56, 56, 56);
    padding: 10px;
    border-radius: 20px;
}

.Home-image>div>div>img {
    min-width: 100%;
    height: 200px;
}

.Content-image {
    position: absolute;
}

.Content-image .content {
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Content-image .content>h1 {
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    /* border-radius: 20px; */
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
    padding: 10px;
}

.Content-image .content>div  {
    width: 400px;
    height: 300px;
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    border-radius: 10px;
    color: black;
    overflow: hidden;
}

.Content-image .content>div img {
    width: 100%;
    height: 90%;
    opacity: 0.9;
}

.Content-image .content>div>.hover-content {
    position: relative;
    transition: all 1s;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.58);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

/* .Content-image .content>div>.hover-content h1 {
    
} */

.Content-image .content>div:hover>.hover-content {
    transform: translateY(-180px);
    opacity: 1;
}
